# Ignore docs files
_gh_pages
_site
.ruby-version

# Always ignore extensions
*.diff
*.err
*.log
*.orig
*.swp
*.zip
*.vi
*~

# OS trash
.DS_Store
Thumbs.db
.cache
.idea

# Jekyll stuff
.sass-cache
.jekyll-cache
.jekyll-metadata

vendor
Gemfile.lock
